{% extends 'base.html' %}

{% block title %}Ticket List - My Django Project{% endblock %}

{% block header %}Бронь.ру{% endblock %}


{% block content %}
  <h2>{{ event.title }}</h2>
  <p>Дата и время: {{ event.date_and_time }}</p>
  <p>Количество билетов: {{ event.ticket_quantity }}</p>
  <p>Проданные билеты: {{ event.get_sold_tickets_count }}</p>
  <p>Описание: {{ event.description }}</p>
  <a href="{% url 'event_update' pk=event.pk %}">Обновить мероприятие</a>
  <br>
  <a href="{% url 'event_delete' pk=event.pk %}">Удалить мероприятие</a>
  <br>
  <br>
  <a href="{% url 'event_list' %}">Вернуться к списку мероприятий</a>
{% endblock %}
